In [4]:
f=open("C:/Users/JILLELA VEENA SRI/Downloads/emp12.csv")

for i in f:
    row=i.split(',')
    salary=int(row[5])
    print("total salary for "+row[1]+" is "+str(salary))
    
    DA= salary*0.25
    print("DA is "+str(DA))
    
    TZ= salary*0.15
    print("TZ is "+str(TZ))
    
    HRA= salary*0.16
    print("HRA is "+str(HRA))
    
    CCA= salary*0.02
    print("CCA is "+str(CCA))
    
    MA= salary*0.05
    print("MA is "+str(MA))
    
    LIC= salary*0.5
    print("LIC is "+str(LIC))
    
    NET_salary=DA+TZ+HRA+CCA+MA+LIC
    print("NET-SAL for "+row[1]+" is "+str(NET_salary))
    print('\n')

total salary for Sheethal is 25000
DA is 6250.0
TZ is 3750.0
HRA is 4000.0
CCA is 500.0
MA is 1250.0
LIC is 12500.0
NET-SAL for Sheethal is 28250.0


total salary for Sonu is 28000
DA is 7000.0
TZ is 4200.0
HRA is 4480.0
CCA is 560.0
MA is 1400.0
LIC is 14000.0
NET-SAL for Sonu is 31640.0


total salary for Sandeep is 100000
DA is 25000.0
TZ is 15000.0
HRA is 16000.0
CCA is 2000.0
MA is 5000.0
LIC is 50000.0
NET-SAL for Sandeep is 113000.0


total salary for Manoj is 65000
DA is 16250.0
TZ is 9750.0
HRA is 10400.0
CCA is 1300.0
MA is 3250.0
LIC is 32500.0
NET-SAL for Manoj is 73450.0


total salary for Prasanna is 15000
DA is 3750.0
TZ is 2250.0
HRA is 2400.0
CCA is 300.0
MA is 750.0
LIC is 7500.0
NET-SAL for Prasanna is 16950.0


total salary for Priyanka is 20000
DA is 5000.0
TZ is 3000.0
HRA is 3200.0
CCA is 400.0
MA is 1000.0
LIC is 10000.0
NET-SAL for Priyanka is 22600.0


total salary for Shravanthi is 28000
DA is 7000.0
TZ is 4200.0
HRA is 4480.0
CCA is 560.0
MA is 1400.0
LIC is 14000.0
NET-SAL for Shravanthi is 31640.0


total salary for Yamini is 19000
DA is 4750.0
TZ is 2850.0
HRA is 3040.0
CCA is 380.0
MA is 950.0
LIC is 9500.0
NET-SAL for Yamini is 21470.0


total salary for Chaitanya is 25000
DA is 6250.0
TZ is 3750.0
HRA is 4000.0
CCA is 500.0
MA is 1250.0
LIC is 12500.0
NET-SAL for Chaitanya is 28250.0


total salary for Leela Krishna is 26000
DA is 6500.0
TZ is 3900.0
HRA is 4160.0
CCA is 520.0
MA is 1300.0
LIC is 13000.0
NET-SAL for Leela Krishna is 29380.0


total salary for Mahender is 60000
DA is 15000.0
TZ is 9000.0
HRA is 9600.0
CCA is 1200.0
MA is 3000.0
LIC is 30000.0
NET-SAL for Mahender is 67800.0


total salary for Yelishetty Shankar is 100000
DA is 25000.0
TZ is 15000.0
HRA is 16000.0
CCA is 2000.0
MA is 5000.0
LIC is 50000.0
NET-SAL for Yelishetty Shankar is 113000.0


total salary for Swapna is 23000
DA is 5750.0
TZ is 3450.0
HRA is 3680.0
CCA is 460.0
MA is 1150.0
LIC is 11500.0
NET-SAL for Swapna is 25990.0


total salary for Nikhil is 25000
DA is 6250.0
TZ is 3750.0
HRA is 4000.0
CCA is 500.0
MA is 1250.0
LIC is 12500.0
NET-SAL for Nikhil is 28250.0


total salary for Sai Kumar is 30000
DA is 7500.0
TZ is 4500.0
HRA is 4800.0
CCA is 600.0
MA is 1500.0
LIC is 15000.0
NET-SAL for Sai Kumar is 33900.0